h1{
    margin-left: 37%;
    font-weight: bold;
}
.formLayout
{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 4%;
    width: 42%;
    margin-left: 30%;
}
.password1
{
    margin-left: -547%;
    margin-top: 117%;
    color: red;
}
.password2
{
    margin-left: -1622%;
    color: red;
}
.email1
{
    margin-left: -547%;
    color: red;
}
.email2
{
    margin-left: -952%;
    color: red;
    margin-top:43%;
}
.errorMessage
{
    color:red;
}